* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.cards {
  height: 100vh;
  background-color: #141b1c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-card {
  overflow: hidden;
  position: relative;
  width: 380px;
  height: 770px;
  text-align: center;
  color: #ffffff;
  background: #334247;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
  margin-left: 13px;
}
.price-card:first-child {
  margin-left: 0;
}
.price-card__title {
  text-align: center;
  margin-top: 33px;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
}
.price-card__title_caption {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}
.price-card__price {
  margin-top: 33px;
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  padding: 19px 0;
  margin-bottom: 0;
}
.price-card__price_green {
  background-color: #5bb189;
}
.price-card__price_blue {
  background-color: #3a6ba5;
}
.price-card__price_orange {
  background-color: #ec632a;
}
.price-card__description {
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  padding: 40px 26px;
  margin-top: 0;
  margin-bottom: 0;
}
.price-card__order-btn {
  width: 154px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 39px auto 40px;
  color: #ffffff;
}
.price-card__order-btn_green {
  background-color: #5bb189;
}
.price-card__order-btn_blue {
  background-color: #3a6ba5;
}
.price-card__order-btn_orange {
  background-color: #ec632a;
}
.price-card__options-list {
  text-align: start;
  list-style-type: none;
  padding-left: 0;
}
.price-card__options-list-item {
  position: relative;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  padding: 16px 0 16px 59px;
}
.price-card__options-list-item:nth-child(odd) {
  background-color: rgba(42, 52, 56, 0.5);
}
.price-card__options-list-item_green::before {
  content: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png");
  display: block;
  position: absolute;
  left: 22px;
  width: 15px;
  height: 13px;
}
.price-card__options-list-item_blue::before {
  content: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png");
  display: block;
  position: absolute;
  left: 22px;
  width: 15px;
  height: 13px;
}
.price-card__options-list-item_orange::before {
  content: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png");
  display: block;
  position: absolute;
  left: 22px;
  width: 15px;
  height: 13px;
}

.popular {
  text-transform: uppercase;
  background-color: #dc3f45;
  position: absolute;
  top: 30px;
  right: -35px;
  width: 147px;
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
  height: 25px;
  transform: rotate(45deg);
}

/*# sourceMappingURL=styles.css.map */
